.alert{
    @include alert;
    padding: 1rem;
    background-color: rgb(201, 98, 98);
}
.warning{
    @include alert;
    background-color: rgb(212, 147, 86);
}
.success{
    @include alert;
    background-color: #75a437;
}
.failed{
    @include alert;
    background-color: rgb(218, 182, 85);
}
