.alert{
    padding: 1rem;
    background-color: rgb(201, 98, 98);
    .title{
        text-align: center;
        font-size: 1.6rem;
    }
    .simple-alert{
        display: flex;
        justify-content: space-between;
        button{
            @include button;
            padding: 1rem;
            background-color: $primaryColor;
        }
    }
    .main-error{
        span{

            background-color: rgb(129, 155, 88);
        }
    }
}
.warning{
    background-color: rgb(212, 147, 86);
}
