.block-cart{
    
    color: grey;
    padding: 1rem;
    margin-bottom: 1rem;     
    background-color: whitesmoke;

    &:first-child{
        border-bottom: 1px solid grey;
    }
    .container-articles-cart{
        flex-basis: 100%;
        margin-right: 2rem;
        max-height: 300px;
        overflow: auto;
        i,.price-article,.quantity{
            font-size: 1.5rem;
        }
        .article{
            display: flex;
            justify-content: space-between;
            border: 1px dotted grey;
            padding: .4rem;
            .container-image{
                flex-basis: 30%;
            }
            .info-article{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-basis:60%;
                .add-one{
                    color: green;
                }
                .remove-one{
                    color: red;
                }
            }
            .delete-article{
                flex-basis: 10%;
                i{
                    color: red;
                }
            }
        }
    }
    .container-payement{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .btn-payement-container{
            background-color: rgb(91, 110, 61);
            text-align: center;
            padding: 1rem;
        }
        ul{
            display: flex;
            padding-left: 0;
            li{
                margin: .4rem;
            }
        }
    }
    @media screen and (min-width:620px){
       display: flex;
        .container{
            align-self: flex-start;
        }
        .container-articles-cart{
            flex-basis: 60%;
            
        }
        .container-payement{
            flex-basis: 35%;
        }
    }
}
