form{
    border: 1px solid;
    border-radius: 5%;
    background-color: rgba(64, 64, 89, 0.3);
    max-width: 360px;
    margin: auto;
    position: relative; 
    .title{
        text-align: center;
        font-size: 2rem;
        margin: 2rem;
    }
    .form-image{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:4rem 0;
        img{
            position: absolute;
            border: 1px double;
            top: -5rem;
            height: 10rem;
            width: 10rem;
            border-radius:50%;
            box-shadow: black 10px 5px 5px ;
            z-index: 2;
        }
    }
    .input-icon{
        position: relative;
        text-align: center;
        margin: 1.5rem 0;
        i{
            position: absolute;
            top: 2rem;
        }
        i:first-child{
            left: 3rem;
            color:$primaryColor;
        }
        .password+i{
            position: absolute;
            color: gray;
            right: 2.5rem;
            cursor: pointer;
        }
        input{
            padding: 1.5rem 0 1.5rem 3rem;
            min-width: 80%;
            border-radius: 6px;
        }
        .alert{
            display: none;
            margin: auto;
            margin-top: .5rem;
            background-color: #c96262;
            max-width: 84%;
            border-radius: 5px;
        }
        input[type=submit]{
            padding: 1rem 0;
            text-align: center;
            border-radius: 10% / 50%;
            background-color: $primaryColor;
            font-size: 2rem;
            &:hover{
                cursor: pointer;
            }
        }
        .alert{
            display: none;
            max-width: 303px;
            margin: auto;
            margin-top: .5rem;
            border-radius: 5px;
        }
    }
    @media screen and (min-width: 620px) {
        .input-icon{
            
            i{   
                top: 1.6rem; 
            }
            
        }
    }
}