header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #171d22;
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

        .nav-p1{
            flex-basis: 15%;
            
        }
        .nav-p2{
            ul{
                display: flex;
                li{
                    margin-right: $liMargin;
                }
            }
        }
        .nav-p3{
            display: flex;
            .button{
                padding: .4rem;
                margin: .5rem;
                &:first-child{
                    background-color: #21384b;
                    &:hover{
                        background-color: $primaryColor;
                    }
                }
            }
            .off{
                &:hover{
                    background-color: rgb(170, 57, 42);
                }
            }
            .cart{
                border: 1px solid $primaryColor;
                padding: 1rem;
                border-radius: 4px;
                margin: 0 1rem;
                &:hover{
                    cursor: pointer;
                    background-color: $primaryColor;
                }
                i{
                    margin-right: .3rem;
                }
            }
        }
    }
}