.block-1::before{
    content: "";
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: .4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}   
.block-1{
    background-image: url("https://wallpapercave.com/wp/wp3173712.jpg");
    background-size: cover;
    position: relative;
    .block-1-content{
        position: relative;
        padding: 15rem 0; 
        h1, .button{
            position: relative;
            z-index: 2;
        }
        div{
            text-align: center;
        }
    }
}
.block-2{
    .block-2-content{

        .element-b2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                li{
                    margin-right: $liMargin;
                }
            }
        }   
        .movies{
            display: flex;
            flex-wrap: no-wrap;
            max-width: 100%;
            overflow: scroll;
            .movie{
               
                margin: 1rem;
                figure{
                    
                    display: flex;
                    flex-flow: column;

                    margin: auto;
                    img{
                        border-radius: .5rem;
                        max-width: none;
                    }
                    .home-movie-image{
                        max-height: 330px;
                     
                    }
                    figcaption{
                        margin: 2px 0;
                        background-color: #222;
                        border: 1px solid;
                        border-radius: .5rem;
                        color: $primaryColor;
                        font: italic smaller sans-serif;
                        font-size: 2em;
                        padding: 3px;
                        text-align: center;
                    }
                }
                .movie-info{
                    
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
               
                .movie-info-bottom{
                    display: flex;
                    justify-content: center;
                    a{
                        margin: 2rem 0 0;
                        border: 1px solid $primaryColor;
                        font-size: 2rem;
                        border-radius: 50px;
                        padding: 1rem;
                        transition: transform 1s, color 5s;
                        &:hover{
                            cursor: pointer;
                            transform: rotate(30deg)  scale(1.5);
                            color: $primaryColor;
                        }

                    }
                }
            }
        }
    }
}
.block-3{
    padding: 5rem 0;
    background-color: #222;
    .block-3-content{

    }
}
.block-4{
    .block-4-content{
       
        div{
            flex-basis: 50%;
        }
    }
}
@media screen and (max-width: 620px){
    
    .block-2-content{
       
       .button{
          padding: .5rem;
          margin: .5rem;
       }
       .movie-info-top, .movie-info-center{
           display: none;
       }
       .movie{
           flex-basis: 40%;
       }
    }
}

@media screen and (min-width: 620px){
    .movie{
        flex-basis: 22%;
    }
    .block-4-content{
        
        .banner-image{
            float: left;
            margin: 1rem;
            max-width: 45%;
        }
        .banner-image + div{
            &::after{
                clear: both;
                display: block;
                content: "";
            }
        }
    }
}
@media screen and (min-width: 800px){
    .movies{
        flex-wrap: wrap;
        .movie{
            flex-basis: 15%;
        }
    }
}