.block-profil-content{
    .profil-image{
        text-align: center;
        img{
            border: 1px double;
            border-radius:50%;
        }
    }
    h2{
        text-align: center;
    }
}