.block-profil-content{
    .profil-image{
        margin: auto;
        max-width: 40rem;
        img{
            border: 1px double;
            border-radius:50%;
            max-width: 100%;
        }
    }
    h2{
        text-align: center;
    }
    @media screen and (max-width: 620px) {
        .profil-image{
            text-align: center;
            img{
                border: 1px double;
                height: 15rem;
                width: 15rem;
                border-radius:50%;
            }
        }
    }
}