$mainColor: #171d22;
$primaryColor: #e4d804;
$secondaryColor: #ffffff;

@mixin container {
    max-width: 80%;
    margin: auto;
}

$liMargin: 1rem;

@mixin button{
    padding: 2rem;
    border: 1px solid $primaryColor;
    cursor: pointer;
    border-radius: 50px;
}
@mixin buttonHover{
    background-color: $primaryColor;
    color: $secondaryColor;
}
@mixin alert{
    padding: 1rem;
    .title{
        text-align: center;
        font-size: 1.6rem;
    }
    .simple-alert{
        display: flex;
        justify-content: space-between;
        button{
            @include button;
            padding: 1rem;
            background-color: $primaryColor;
        }
    }
    .main-error{
        span{

            background-color: rgb(129, 155, 88);
        }
    }
}