.alert {
  padding: 1rem;
  padding: 1rem;
  background-color: #c96262; }
  .alert .title {
    text-align: center;
    font-size: 1.6rem; }
  .alert .simple-alert {
    display: flex;
    justify-content: space-between; }
    .alert .simple-alert button {
      padding: 2rem;
      border: 1px solid #e4d804;
      cursor: pointer;
      border-radius: 50px;
      padding: 1rem;
      background-color: #e4d804; }
  .alert .main-error span {
    background-color: #819b58; }

.warning {
  padding: 1rem;
  background-color: #d49356; }
  .warning .title {
    text-align: center;
    font-size: 1.6rem; }
  .warning .simple-alert {
    display: flex;
    justify-content: space-between; }
    .warning .simple-alert button {
      padding: 2rem;
      border: 1px solid #e4d804;
      cursor: pointer;
      border-radius: 50px;
      padding: 1rem;
      background-color: #e4d804; }
  .warning .main-error span {
    background-color: #819b58; }

.success {
  padding: 1rem;
  background-color: #75a437; }
  .success .title {
    text-align: center;
    font-size: 1.6rem; }
  .success .simple-alert {
    display: flex;
    justify-content: space-between; }
    .success .simple-alert button {
      padding: 2rem;
      border: 1px solid #e4d804;
      cursor: pointer;
      border-radius: 50px;
      padding: 1rem;
      background-color: #e4d804; }
  .success .main-error span {
    background-color: #819b58; }

.failed {
  padding: 1rem;
  background-color: #dab655; }
  .failed .title {
    text-align: center;
    font-size: 1.6rem; }
  .failed .simple-alert {
    display: flex;
    justify-content: space-between; }
    .failed .simple-alert button {
      padding: 2rem;
      border: 1px solid #e4d804;
      cursor: pointer;
      border-radius: 50px;
      padding: 1rem;
      background-color: #e4d804; }
  .failed .main-error span {
    background-color: #819b58; }

form {
  border: 1px solid;
  border-radius: 5%;
  background-color: rgba(64, 64, 89, 0.3);
  max-width: 360px;
  margin: auto;
  position: relative; }
  form .title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem; }
  form .form-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0; }
    form .form-image img {
      position: absolute;
      border: 1px double;
      top: -5rem;
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      box-shadow: black 10px 5px 5px;
      z-index: 2; }
  form .input-icon {
    position: relative;
    text-align: center;
    margin: 1.5rem 0; }
    form .input-icon i {
      position: absolute;
      top: 2rem; }
    form .input-icon i:first-child {
      left: 3rem;
      color: #e4d804; }
    form .input-icon .password + i {
      position: absolute;
      color: gray;
      right: 2.5rem;
      cursor: pointer; }
    form .input-icon input {
      padding: 1.5rem 0 1.5rem 3rem;
      min-width: 80%;
      border-radius: 6px; }
    form .input-icon input[type=submit] {
      padding: 1rem 0;
      text-align: center;
      border-radius: 10% / 50%;
      background-color: #e4d804;
      font-size: 2rem; }
      form .input-icon input[type=submit]:hover {
        cursor: pointer; }
  @media screen and (min-width: 620px) {
    form .input-icon i {
      top: 1.6rem; } }

* {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  background-color: #171d22;
  color: #ffffff; }
  body a {
    text-decoration: none; }
  body h1 {
    font-size: 3rem; }
  body h2 {
    font-size: 2.5rem; }
  body h3 {
    font-size: 2rem; }
  body h4 {
    font-size: 1.5rem; }
  body h5 {
    font-size: 1.2rem; }
  @media screen and (min-width: 620px) {
    body {
      font-size: 1.4rem; } }

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #171d22; }
  header .header-content {
    justify-content: space-between;
    align-items: center;
    padding: .5rem; }
    header .header-content .nav-p1 {
      flex-basis: 15%; }
    header .header-content .nav-p2 ul {
      display: flex; }
      header .header-content .nav-p2 ul li {
        margin-right: 1rem; }
    header .header-content .nav-p3 {
      display: flex; }
      header .header-content .nav-p3 .button {
        padding: .4rem;
        margin: .5rem; }
        header .header-content .nav-p3 .button:first-child {
          background-color: #21384b; }
          header .header-content .nav-p3 .button:first-child:hover {
            background-color: #e4d804; }
      header .header-content .nav-p3 .off:hover {
        background-color: #aa392a; }
      header .header-content .nav-p3 .cart {
        border: 1px solid #e4d804;
        padding: 1rem;
        border-radius: 4px;
        margin: 0 1rem; }
        header .header-content .nav-p3 .cart:hover {
          cursor: pointer;
          background-color: #e4d804; }
        header .header-content .nav-p3 .cart i {
          margin-right: .3rem; }

@media screen and (max-width: 620px) {
  .header-content {
    display: none; }

  /* Navbar container */
  .navbar {
    overflow: hidden;
    font-family: Arial;
    display: flex;
    justify-content: center; }
    .navbar .nav-p1 {
      flex-basis: 50%; }
    .navbar .nav-p2 {
      display: flex;
      align-items: center; }
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
    .navbar .dropdown {
      float: left;
      overflow: hidden; }
    .navbar .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      /* Important for vertical align on mobile phones */
      margin: 0;
      /* Important for vertical align on mobile phones */
      align-items: center; }
    .navbar a:hover, .navbar .dropdown:hover .dropbtn {
      background-color: #e4d804; }
    .navbar .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .navbar .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left; }
      .navbar .dropdown-content:hover {
        background-color: #ddd; }
    .navbar .dropdown:hover .dropdown-content {
      display: block; } }
@media screen and (min-width: 621px) {
  .header-content {
    display: flex; }

  .navbar {
    display: none; } }
.block-1::before {
  content: "";
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.block-1 {
  background-image: url("https://wallpapercave.com/wp/wp3173712.jpg");
  background-size: cover;
  position: relative; }
  .block-1 .block-1-content {
    position: relative;
    padding: 15rem 0; }
    .block-1 .block-1-content h1, .block-1 .block-1-content .button {
      position: relative;
      z-index: 2; }
    .block-1 .block-1-content div {
      text-align: center; }

.block-2 .block-2-content .element-b2 {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .block-2 .block-2-content .element-b2 ul {
    display: flex; }
    .block-2 .block-2-content .element-b2 ul li {
      margin-right: 1rem; }
.block-2 .block-2-content .movies {
  display: flex;
  flex-wrap: no-wrap;
  max-width: 100%;
  overflow: scroll; }
  .block-2 .block-2-content .movies .movie {
    margin: 1rem; }
    .block-2 .block-2-content .movies .movie figure {
      display: flex;
      flex-flow: column;
      margin: auto; }
      .block-2 .block-2-content .movies .movie figure img {
        border-radius: .5rem;
        max-width: none; }
      .block-2 .block-2-content .movies .movie figure .home-movie-image {
        max-height: 330px; }
      .block-2 .block-2-content .movies .movie figure figcaption {
        margin: 2px 0;
        background-color: #222;
        border: 1px solid;
        border-radius: .5rem;
        color: #e4d804;
        font: italic smaller sans-serif;
        font-size: 2em;
        padding: 3px;
        text-align: center; }
    .block-2 .block-2-content .movies .movie .movie-info {
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    .block-2 .block-2-content .movies .movie .movie-info-bottom {
      display: flex;
      justify-content: center; }
      .block-2 .block-2-content .movies .movie .movie-info-bottom a {
        margin: 2rem 0 0;
        border: 1px solid #e4d804;
        font-size: 2rem;
        border-radius: 50px;
        padding: 1rem;
        transition: transform 1s, color 5s; }
        .block-2 .block-2-content .movies .movie .movie-info-bottom a:hover {
          cursor: pointer;
          transform: rotate(30deg) scale(1.5);
          color: #e4d804; }

.block-3 {
  padding: 5rem 0;
  background-color: #222; }

.block-4 .block-4-content div {
  flex-basis: 50%; }

@media screen and (max-width: 620px) {
  .block-2-content .button {
    padding: .5rem;
    margin: .5rem; }
  .block-2-content .movie-info-top, .block-2-content .movie-info-center {
    display: none; }
  .block-2-content .movie {
    flex-basis: 40%; } }
@media screen and (min-width: 620px) {
  .movie {
    flex-basis: 22%; }

  .block-4-content .banner-image {
    float: left;
    margin: 1rem;
    max-width: 45%; }
  .block-4-content .banner-image + div::after {
    clear: both;
    display: block;
    content: ""; } }
@media screen and (min-width: 800px) {
  .movies {
    flex-wrap: wrap; }
    .movies .movie {
      flex-basis: 15%; } }
main {
  position: relative; }

img {
  max-width: 100%; }

.container {
  max-width: 80%;
  margin: auto; }

.block {
  margin-top: 2rem; }

.button {
  padding: 2rem;
  border: 1px solid #e4d804;
  cursor: pointer;
  border-radius: 50px; }
  .button:hover {
    background-color: #e4d804;
    color: #ffffff; }

a {
  color: #ffffff; }

.header-block {
  background-image: url("https://1.bp.blogspot.com/-0WbLtsLIHzM/X9WRmBRQ8EI/AAAAAAAAGVs/EC0NCFWPOC8KYpaOrDywdWYuzS08HqU-ACLcBGAsYHQ/s2048/LE%2BTOP%2BDES%2BMEILLEURS%2BFILMS%2BLES%2BPLUS%2BATTENDUS%2BDE%2B2021.jpg");
  margin: 2rem 0; }
  .header-block .block-1-content {
    text-align: center; }
    @media screen and (max-width: 620px) {
      .header-block .block-1-content {
        padding: 4rem; } }

.block-detail {
  justify-content: center;
  align-items: flex-start;
  position: relative; }
  .block-detail .content {
    margin: 2rem; }
    .block-detail .content img {
      max-height: 600px; }
  .block-detail .text-content {
    max-height: 575px;
    flex-basis: 28%;
    padding: 1rem;
    background-color: #222;
    position: relative; }
    .block-detail .text-content .sub-content .sub-content-child {
      display: flex;
      justify-content: space-between; }
    .block-detail .text-content h2 {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center; }
      .block-detail .text-content h2 i {
        color: #3994b6; }
        .block-detail .text-content h2 i:hover {
          color: #3131db;
          cursor: pointer; }
    .block-detail .text-content .genre-content {
      padding: 0;
      display: flex; }
      .block-detail .text-content .genre-content li {
        margin-right: 1rem; }
    .block-detail .text-content .add-cart-content {
      position: absolute;
      display: block;
      text-align: center;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #e4d804;
      padding: 1rem;
      font-size: 3rem; }
      .block-detail .text-content .add-cart-content:hover {
        cursor: pointer; }
  .block-detail .video-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.49); }
    .block-detail .video-container p {
      top: 0;
      right: 0;
      left: 0;
      font-size: 1.6rem;
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      align-items: center; }
      .block-detail .video-container p i:hover {
        color: red;
        cursor: pointer; }
    .block-detail .video-container .iframe-content {
      display: flex;
      justify-content: center;
      align-items: center; }
      .block-detail .video-container .iframe-content iframe {
        position: relative;
        min-height: 400px; }
  @media screen and (min-width: 620px) {
    .block-detail {
      display: flex; }
      .block-detail .content {
        margin: 2rem; }
      .block-detail .image-content {
        flex-basis: 30%; }
        .block-detail .image-content img {
          min-height: 424px;
          height: 650px; }
      .block-detail .text-content {
        height: 650px; }
        .block-detail .text-content a {
          margin-top: 1rem; } }

.block-inscription h2 {
  text-align: center; }

.block-contact-content h2 {
  text-align: center; }

.manage-movie {
  display: flex; }
  .manage-movie h3 {
    font-size: 2rem; }
  .manage-movie .button {
    padding: .5rem; }
  .manage-movie .block-form-content {
    flex-basis: 45%; }
  .manage-movie .del-movie-content {
    border-left: double 2px #e4d804;
    padding-left: 2rem; }
    .manage-movie .del-movie-content:nth-child(2), .manage-movie .del-movie-content:nth-child(1) {
      margin: auto;
      text-align: center; }

.block-profil-content .profil-image {
  margin: auto;
  max-width: 40rem; }
  .block-profil-content .profil-image img {
    border: 1px double;
    border-radius: 50%;
    max-width: 100%; }
.block-profil-content h2 {
  text-align: center; }
@media screen and (max-width: 620px) {
  .block-profil-content .profil-image {
    text-align: center; }
    .block-profil-content .profil-image img {
      border: 1px double;
      height: 15rem;
      width: 15rem;
      border-radius: 50%; } }

.block-cart {
  color: grey;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: whitesmoke; }
  .block-cart:first-child {
    border-bottom: 1px solid grey; }
  .block-cart .container-articles-cart {
    flex-basis: 100%;
    margin-right: 2rem;
    max-height: 300px;
    overflow: auto; }
    .block-cart .container-articles-cart i, .block-cart .container-articles-cart .price-article, .block-cart .container-articles-cart .quantity {
      font-size: 1.5rem; }
    .block-cart .container-articles-cart .article {
      display: flex;
      justify-content: space-between;
      border: 1px dotted grey;
      padding: .4rem; }
      .block-cart .container-articles-cart .article .container-image {
        flex-basis: 30%; }
      .block-cart .container-articles-cart .article .info-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 60%; }
        .block-cart .container-articles-cart .article .info-article .add-one {
          color: green; }
        .block-cart .container-articles-cart .article .info-article .remove-one {
          color: red; }
      .block-cart .container-articles-cart .article .delete-article {
        flex-basis: 10%; }
        .block-cart .container-articles-cart .article .delete-article i {
          color: red; }
  .block-cart .container-payement {
    display: flex;
    flex-direction: column;
    flex-basis: 100%; }
    .block-cart .container-payement div {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .block-cart .container-payement .btn-payement-container {
      background-color: #5b6e3d;
      justify-content: center;
      padding: 1rem; }
    .block-cart .container-payement ul {
      display: flex;
      padding-left: 0; }
      .block-cart .container-payement ul li {
        margin: .4rem; }
  @media screen and (min-width: 620px) {
    .block-cart {
      display: flex; }
      .block-cart .container {
        align-self: flex-start; }
      .block-cart .container-articles-cart {
        flex-basis: 60%; }
      .block-cart .container-payement {
        flex-basis: 35%; } }

footer {
  clear: both;
  margin-top: 2rem;
  background-color: #222;
  padding: 1rem 0; }
  footer .footer-part-1 {
    display: flex;
    justify-content: space-between; }
    footer .footer-part-1 strong {
      font-size: 1.8rem;
      text-align: center; }
    footer .footer-part-1 ul {
      padding: 0; }
  footer .footer-part-2 {
    display: flex;
    justify-content: center; }

/*# sourceMappingURL=style.css.map */
